<p style="color: green"><%= notice %></p>

<div>
  <h1>Games</h1>
</div>

<div>
  <%= link_to "<button>New Game</button>".html_safe, new_game_path %>
</div>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
  <% end %>
</div>

