<section class="index">
  <div class="index--title">
    <h1>Companies</h1>
  </div>

  <div class="index--button">
    <%= link_to "<button class='button button--index button--sm text-decoration-none button__animation'>New Game</button>".html_safe, new_game_path %>
  </div>

  <div id="companies">
    <% @companies.each do |company| %>
      <%= render company %>
    <% end %>
  </div>
</section>